*.cr.mti
*.mpf
*.wlf
*.log
tcl_stacktrace.txt
transcript


work/
.vscode/
.vscode/
.dist/
garbage/

wlft*


.DS_Store


*.bak
*.swp
*~


!processor.sv
!testbenches/
!CU/
!EU/
!IU/
!mems/
!topLevlModules/